# 2015 NYC Street Tree Census dataset
Explore, clean and prepare dataset for a machine learning model

Current main objective: to understand the determinant factors of trees health in New York City.

## 1. Import modules

In [1]:
import numpy as np
import pandas as pd

## 2. Import dataset

In [2]:
df = pd.read_csv('assets/data_100000.csv')

## 3. Explore dataset

In [3]:
print("0. The five first rows:")
df.head()

0. The five first rows:

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [4]:
print("1. General info of dataset:")
df.info()

1. General info of dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  100000 non-null  object
 1   tree_id     100000 non-null  int64
 2   block_id    100000 non-null  int64
 3   the_geom    100000 non-null  object
 4   tree_dbh    100000 non-null  int64
 5   stump_diam  100000 non-null  int64
 6   curb_loc    100000 non-null  object
 7   status      100000 non-null  object
 8   health      95007 non-null   object
 9   spc_latin   95008 non-null   object
 10  spc_common  95008 non-null   object
 11  steward     95008 non-null   object
 12  guards      95008 non-null   object
 13  sidewalk    95008 non-null   object
 14  user_type   100000 non-null  object
 15  problems    95008 non-null   object
 16  root_stone  100000 non-null  object
 17  root_grate  100000 non-null  object
 18  root_other  100000 non-null  object
 19  trnk_wire   100000 non-null  object
 20  trnk_light  100000 non-null  object
 21  trnk_other  100000 non-null  object
 22  brnch_ligh  100000 non-null  object
 23  brnch_shoe  100000 non-null  object
 24  brnch_othe  100000 non-null  object
 25  address     100000 non-null  object
 26  zipcode     100000 non-null  int64
 27  zip_city    100000 non-null  object
 28  cb_num      100000 non-null  int64
 29  borocode    100000 non-null  int64
 30  boroname    100000 non-null  object
 31  cncldist    100000 non-null  int64
 32  st_assem    100000 non-null  int64
 33  st_senate   100000 non-null  int64
 34  nta         100000 non-null  object
 35  nta_name    100000 non-null  object
 36  boro_ct     100000 non-null  int64
 37  state       100000 non-null  object
 38  latitude    100000 non-null  float64
 39  longitude   100000 non-null  float64
 40  x_sp        100000 non-null  float64
 41  y_sp        100000 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 32.0+ MB

In [5]:
print(f"2. Number of rows: {len(df)}")
print(f"3. Number of original features: {len(df.columns)}")

2. Number of rows: 100000
3. Number of original features: 42

### Exploring missing values

In [6]:
print("4. Number of missing values in each original feature:")
df.isnull().sum()

4. Number of missing values in each original feature:

created_at       0
tree_id          0
block_id         0
the_geom         0
tree_dbh         0
stump_diam       0
curb_loc         0
status           0
health        4993
spc_latin     4992
spc_common    4992
steward       4992
guards        4992
sidewalk      4992
user_type        0
problems      4992
root_stone       0
root_grate       0
root_other       0
trnk_wire        0
trnk_light       0
trnk_other       0
brnch_ligh       0
brnch_shoe       0
brnch_othe       0
address          0
zipcode          0
zip_city         0
cb_num           0
borocode         0
boroname         0
cncldist         0
st_assem         0
st_senate        0
nta              0
nta_name         0
boro_ct          0
state            0
latitude         0
longitude        0
x_sp             0
y_sp             0
dtype: int64

In [7]:
print("5. Data type of each original feature:")
df.dtypes

5. Data type of each original feature:

created_at     object
tree_id         int64
block_id        int64
the_geom       object
tree_dbh        int64
stump_diam      int64
curb_loc       object
status         object
health         object
spc_latin      object
spc_common     object
steward        object
guards         object
sidewalk       object
user_type      object
problems       object
root_stone     object
root_grate     object
root_other     object
trnk_wire      object
trnk_light     object
trnk_other     object
brnch_ligh     object
brnch_shoe     object
brnch_othe     object
address        object
zipcode         int64
zip_city       object
cb_num          int64
borocode        int64
boroname       object
cncldist        int64
st_assem        int64
st_senate       int64
nta            object
nta_name       object
boro_ct         int64
state          object
latitude      float64
longitude     float64
x_sp          float64
y_sp          float64
dtype: object

In [8]:
print("6. Number of unique values of each original feature:")
print("NaN non included")
df.nunique()

6. Number of unique values of each original feature:
NaN non included

created_at       146
tree_id       100000
block_id       19472
the_geom       99962
tree_dbh          77
stump_diam        75
curb_loc           2
status             3
health             3
spc_latin        125
spc_common       125
steward            4
guards             4
sidewalk           2
user_type          3
problems         151
root_stone         2
root_grate         2
root_other         2
trnk_wire          2
trnk_light         2
trnk_other         2
brnch_ligh         2
brnch_shoe         2
brnch_othe         2
address        66793
zipcode          185
zip_city          47
cb_num            59
borocode           5
boroname           5
cncldist          51
st_assem          65
st_senate         26
nta              188
nta_name         188
boro_ct         1652
state              1
latitude       99799
longitude      99771
x_sp           99929
y_sp           99940
dtype: int64

In [10]:
print("7. Unique values of original features with less than 204 unique values:")
for column in df.columns:
    if df[column].nunique() < 200:
        print(f"#################### {column} ####################")
        print(df[column].unique())
        print()

8  54  74  64  49  57  77 118  51 109  67  80 134  78
  79  69  76]

#################### curb_loc ####################
['OnCurb' 'OffsetFromCurb']

#################### status ####################
['Alive' 'Dead' 'Stump']

#################### health ####################
['Fair' 'Good' 'Poor' nan]

#################### spc_latin ####################
['Acer rubrum' 'Quercus palustris' 'Gleditsia triacanthos var. inermis'
 'Tilia americana' 'Platanus x acerifolia' 'Ginkgo biloba'
 'Quercus phellos' 'Acer pseudoplatanus' 'Acer ginnala' 'Acer campestre'
 'Ulmus americana' 'Fraxinus' 'Malus' 'Acer saccharinum' 'Corylus colurna'
 'Prunus serotina' 'Juniperus virginiana' 'Acer platanoides'
 'Liriodendron tulipifera' 'Quercus acutissima' 'Styphnolobium japonicum'
 'Quercus bicolor' 'Chionanthus retusus' 'Magnolia grandiflora'
 'Liquidambar styraciflua' 'Pyrus calleryana' 'Quercus coccinea'
 'Chamaecyparis thyoides' 'Quercus velutina' 'Zelkova serrata'
 'Quercus alba' 'Aesculus glabra' 'Quercus rubra' nan 'Tilia tomentosa'
 'Carya glabra' 'Cladrastis kentukea' 'Morus' 'Pseudotsuga menziesii'
 'Lagerstroemia' 'Sassafras albidum' 'Picea' 'Ulmus parvifolia'
 'Aesculus hippocastanum' 'Ilex' 'Tilia cordata' 'Pinus strobus'
 'Nyssa sylvatica' 'Syringa reticulata' 'Eucommia ulmoides'
 'Fraxinus pennsylvanica' 'Quercus robur' 'Fraxinus americana'
 'Koelreuteria paniculata' 'Quercus shumardii' 'Ulmus pumila'
 'Juglans nigra' 'Salix babylonica' 'Cercidiphyllum japonicum'
 'Robinia pseudoacacia' 'Parrotia persica' 'Cornus mas'
 'Castanea mollissima' 'Quercus falcata' 'Prunus' 'Prunus cerasifera'
 "Acer platanoides 'Crimson King'" 'Gymnocladus dioicus'
 'Styrax japonicus' 'Acer saccharum' 'Thuja occidentalis'
 'Cercis reniformis' 'Ailanthus altissima' 'Syringa pekinensis'
 'Carpinus caroliniana' 'Populus deltoides' 'Tsuga canadensis'
 'Betula pendula' 'Cedrus atlantica' 'Paulownia tomentosa' 'Crataegus'
 'Prunus virginiana' 'Catalpa' 'Betula nigra' 'Acer negundo'
 'Fagus sylvatica' 'Picea abies' 'Cedrus deodara' 'Phellodendron amurense'
 'Acer palmatum' 'Quercus imbricaria' 'Magnolia' 'Cotinus coggygria'
 'Betula papyrifera' 'Fagus grandifolia' 'Ostrya virginiana'
 'Larix laricina' 'Taxodium ascendens' 'Crataegus crusgalli var. inermis'
 'Metasequoia glyptostroboides' 'Celtis occidentalis' 'Cornus florida'
 'Cornus kousa' 'Acer' 'Cercis canadensis' 'Taxodium distichum'
 'Magnolia acuminata' 'Amelanchier' 'Maclura pomifera' 'Acer griseum'
 'Pinus resinosa' 'Pinus sylvestris' 'Acer tataricum' 'Acer nigrum'
 'Picea pungens' 'Populus tremuloides' 'Aesculus x carnea' 'Pinus nigra'
 'Acer truncatum' 'Alnus glutinosa' 'Maackia amurensis' 'Carpinus betulus'
 'Quercus macrocarpa' 'Populus grandidentata' 'Acer buergerianum'
 'Pinus virginiana']

#################### spc_common ####################
['red maple' 'pin oak' 'honeylocust' 'American linden' 'London planetree'
 'ginkgo' 'willow oak' 'sycamore maple' 'Amur maple' 'hedge maple'
 'American elm' 'ash' 'crab apple' 'silver maple' 'Turkish hazelnut'
 'black cherry' 'eastern redcedar' 'Norway maple' 'tulip-poplar'
 'sawtooth oak' 'Sophora' 'swamp white oak' 'Chinese fringetree'
 'southern magnolia' 'sweetgum' 'Callery pear' 'scarlet oak'
 'Atlantic white cedar' 'black oak' 'Japanese zelkova' 'white oak'
 'Ohio buckeye' 'northern red oak' nan 'silver linden' 'pignut hickory'
 'Kentucky yellowwood' 'mulberry' 'Douglas-fir' 'crepe myrtle' 'sassafras'
 'spruce' 'Chinese elm' 'horse chestnut' 'holly' 'littleleaf linden'
 'white pine' 'blackgum' 'Japanese tree lilac' 'hardy rubber tree'
 'green ash' 'English oak' 'white ash' 'golden raintree' "Schumard's oak"
 'Siberian elm' 'black walnut' 'weeping willow' 'katsura tree'
 'black locust' 'Persian ironwood' 'Cornelian cherry' 'Chinese chestnut'
 'southern red oak' 'cherry' 'purple-leaf plum' 'crimson king maple'
 'Kentucky coffeetree' 'Japanese snowbell' 'sugar maple' 'arborvitae'
 'Oklahoma redbud' 'tree of heaven' 'Chinese tree lilac'
 'American hornbeam' 'eastern cottonwood' 'eastern hemlock' 'silver birch'
 'Atlas cedar' 'empress tree' 'hawthorn' "'Schubert' chokecherry"
 'catalpa' 'river birch' 'boxelder' 'European beech' 'Norway spruce'
 'Himalayan cedar' 'Amur cork tree' 'Japanese maple' 'shingle oak'
 'magnolia' 'smoketree' 'paper birch' 'American beech'
 'American hophornbeam' 'American larch' 'pond cypress'
 'cockspur hawthorn' 'dawn redwood' 'common hackberry' 'flowering dogwood'
 'kousa dogwood' 'maple' 'eastern redbud' 'bald cypress'
 'cucumber magnolia' 'serviceberry' 'Osage-orange' 'paperbark maple'
 'red pine' 'Scots pine' 'tartar maple' 'black maple' 'blue spruce'
 'quaking aspen' 'red horse chestnut' 'black pine' 'Shantung maple'
 'European alder' 'Amur maackia' 'European hornbeam' 'bur oak'
 'bigtooth aspen' 'trident maple' 'Virginia pine']

#################### steward ####################
['None' '1or2' '3or4' nan '4orMore']

#################### guards ####################
['None' 'Helpful' 'Harmful' 'Unsure' nan]

#################### sidewalk ####################
['NoDamage' 'Damage' nan]

#################### user_type ####################
['TreesCount Staff' 'Volunteer' 'NYC Parks Staff']

#################### problems ####################
['None' 'Stones' 'MetalGrates' 'RootOther' 'Stones,BranchOther'
 'TrunkLights,BranchLights' 'RootOther,TrunkOther,BranchOther'
 'BranchOther' 'Stones,BranchLights' 'TrunkOther,BranchLights'
 'MetalGrates,TrunkOther' 'TrunkOther' 'Stones,WiresRope' 'BranchLights'
 'WiresRope,BranchOther' 'RootOther,BranchOther'
 'Stones,WiresRope,BranchLights' 'WiresRope' 'WiresRope,BranchLights'
 'Stones,TrunkOther' 'WiresRope,TrunkLights,BranchLights'
 'Stones,RootOther' 'Stones,BranchLights,BranchOther'
 'Stones,RootOther,BranchLights' 'MetalGrates,BranchOther'
 'Stones,RootOther,TrunkOther' 'RootOther,TrunkOther'
 'Stones,TrunkOther,BranchLights,BranchOther'
 'Stones,TrunkOther,BranchOther' 'RootOther,BranchLights'
 'TrunkOther,BranchOther' 'RootOther,WiresRope,BranchLights'
 'Stones,TrunkOther,BranchLights' 'BranchLights,Sneakers'
 'Stones,RootOther,TrunkOther,BranchLights' nan
 'MetalGrates,TrunkOther,BranchOther' 'TrunkLights,BranchOther'
 'TrunkLights' 'Stones,RootOther,BranchOther' 'RootOther,WiresRope'
 'BranchLights,BranchOther' 'Stones,MetalGrates'
 'RootOther,TrunkOther,BranchLights'
 'Stones,WiresRope,TrunkOther,BranchLights'
 'WiresRope,TrunkOther,BranchOther'
 'RootOther,WiresRope,TrunkOther,BranchLights'
 'RootOther,TrunkOther,BranchLights,BranchOther'
 'MetalGrates,RootOther,TrunkOther' 'Stones,WiresRope,TrunkOther'
 'MetalGrates,RootOther,TrunkOther,BranchOther'
 'Stones,RootOther,WiresRope,BranchLights' 'WiresRope,TrunkOther'
 'RootOther,WiresRope,TrunkOther' 'MetalGrates,WiresRope'
 'Stones,RootOther,WiresRope,TrunkOther'
 'Stones,RootOther,TrunkOther,BranchOther' 'Stones,WiresRope,BranchOther'
 'RootOther,BranchLights,BranchOther'
 'Stones,RootOther,WiresRope,TrunkLights,BranchLights'
 'RootOther,WiresRope,TrunkOther,BranchLights,BranchOther'
 'WiresRope,TrunkOther,BranchLights,BranchOther'
 'Stones,RootOther,WiresRope,BranchOther' 'MetalGrates,RootOther'
 'Stones,TrunkLights' 'Stones,MetalGrates,WiresRope,BranchLights'
 'Stones,WiresRope,BranchLights,BranchOther'
 'TrunkOther,BranchLights,BranchOther' 'TrunkLights,TrunkOther'
 'Stones,RootOther,TrunkLights,BranchLights'
 'Stones,TrunkLights,BranchLights' 'WiresRope,BranchLights,BranchOther'
 'WiresRope,TrunkLights'
 'Stones,RootOther,TrunkOther,BranchLights,BranchOther'
 'TrunkOther,Sneakers' 'RootOther,WiresRope,TrunkOther,BranchOther'
 'RootOther,TrunkLights,BranchLights' 'RootOther,Sneakers'
 'Stones,RootOther,Sneakers,BranchOther'
 'MetalGrates,WiresRope,BranchOther' 'RootOther,TrunkLights,BranchOther'
 'RootOther,WiresRope,BranchOther'
 'Stones,RootOther,WiresRope,TrunkOther,BranchLights,BranchOther'
 'MetalGrates,BranchLights' 'Stones,TrunkLights,BranchLights,BranchOther'
 'Stones,MetalGrates,RootOther' 'Stones,Sneakers'
 'Stones,TrunkLights,BranchOther'
 'Stones,RootOther,BranchLights,BranchOther' 'Sneakers'
 'Stones,RootOther,Sneakers' 'MetalGrates,TrunkOther,BranchLights'
 'MetalGrates,TrunkLights,BranchLights'
 'WiresRope,TrunkOther,BranchLights,Sneakers'
 'MetalGrates,RootOther,BranchOther' 'Stones,RootOther,WiresRope'
 'Stones,WiresRope,BranchLights,Sneakers'
 'WiresRope,TrunkOther,BranchLights'
 'Stones,RootOther,WiresRope,TrunkOther,BranchLights'
 'Stones,RootOther,WiresRope,BranchLights,BranchOther'
 'RootOther,WiresRope,BranchLights,BranchOther'
 'Stones,MetalGrates,TrunkOther'
 'RootOther,TrunkLights,TrunkOther,BranchLights,BranchOther'
 'MetalGrates,Sneakers'
 'Stones,RootOther,WiresRope,TrunkOther,BranchOther'
 'Stones,WiresRope,TrunkOther,BranchLights,BranchOther'
 'MetalGrates,RootOther,WiresRope,TrunkLights,BranchLights,BranchOther'
 'Stones,WiresRope,TrunkOther,BranchOther'
 'MetalGrates,RootOther,WiresRope,BranchOther'
 'MetalGrates,WiresRope,TrunkLights,BranchLights,BranchOther'
 'TrunkLights,TrunkOther,BranchLights' 'WiresRope,Sneakers'
 'RootOther,WiresRope,TrunkLights,BranchOther'
 'MetalGrates,RootOther,BranchLights' 'Stones,MetalGrates,BranchLights'
 'Stones,RootOther,TrunkLights' 'Sneakers,BranchOther'
 'Stones,RootOther,TrunkOther,Sneakers'
 'Stones,WiresRope,TrunkLights,BranchLights'
 'Stones,BranchLights,Sneakers' 'BranchLights,Sneakers,BranchOther'
 'MetalGrates,RootOther,TrunkLights,BranchLights'
 'Stones,RootOther,BranchLights,Sneakers'
 'Stones,TrunkLights,TrunkOther,BranchLights' 'RootOther,TrunkLights'
 'TrunkLights,Sneakers' 'TrunkLights,BranchLights,BranchOther'
 'Stones,MetalGrates,RootOther,BranchOther'
 'Stones,RootOther,WiresRope,TrunkLights'
 'Stones,RootOther,WiresRope,TrunkLights,BranchOther'
 'RootOther,TrunkLights,TrunkOther,BranchLights'
 'RootOther,WiresRope,TrunkLights'
 'TrunkLights,TrunkOther,BranchLights,BranchOther'
 'Stones,MetalGrates,WiresRope,TrunkLights,BranchLights'
 'Stones,MetalGrates,TrunkOther,BranchOther' 'Stones,TrunkOther,Sneakers'
 'Stones,MetalGrates,WiresRope' 'Stones,MetalGrates,RootOther,TrunkOther'
 'Stones,RootOther,TrunkLights,TrunkOther,BranchLights'
 'TrunkOther,BranchLights,Sneakers,BranchOther'
 'Stones,Sneakers,BranchOther'
 'RootOther,WiresRope,TrunkLights,TrunkOther,BranchLights'
 'MetalGrates,RootOther,TrunkOther,BranchLights'
 'WiresRope,TrunkLights,TrunkOther,BranchLights'
 'Stones,MetalGrates,TrunkOther,BranchLights'
 'Stones,TrunkLights,TrunkOther,BranchOther'
 'Stones,TrunkLights,TrunkOther' 'MetalGrates,WiresRope,BranchLights'
 'RootOther,WiresRope,TrunkLights,TrunkOther,BranchLights,BranchOther'
 'Stones,MetalGrates,BranchOther'
 'Stones,MetalGrates,RootOther,TrunkOther,BranchOther'
 'RootOther,WiresRope,TrunkLights,BranchLights']

#################### root_stone ####################
['No' 'Yes']

#################### root_grate ####################
['No' 'Yes']

#################### root_other ####################
['No' 'Yes']

#################### trnk_wire ####################
['No' 'Yes']

#################### trnk_light ####################
['No' 'Yes']

#################### trnk_other ####################
['No' 'Yes']

#################### brnch_ligh ####################
['No' 'Yes']

#################### brnch_shoe ####################
['No' 'Yes']

#################### brnch_othe ####################
['No' 'Yes']

#################### zipcode ####################
[11375 11357 11211 11215 10023 10019 10305 11223 11105 10308 11205 11212
 11214 11226 11373 10021 10024 10306 11217 11415 11230 10002 11385 10457
 11235 10009 10012 10314 11204 11229 11365 10312 10458 10016 10011 11370
 11231 10025 11372 10467 10453 11209 11358 10027 11203 11355 10115 11210
 10014 11374 11691 11237 11238 11368 11413 11429 10470 11369 10075 11106
 10010 11421 11693 10003 11218 11201 10065 11694 11222 11354 10468 11234
 10036 10017 10038 11232 10048 10026 11101 11219 11412 11361 11364 11432
 11356 10452 11362 11216 11249 10461 11102 11427 11414 11207 11233 11206
 11692 10013 10280 10128 11220 10028 10456 10460 11418 10465 11228 11103
 10309 10466 11377 11221 10463 11225 10022 10001 11434 11224 11236 10032
 10304 10307 11367 11213 11366 10029 10310 10459 11416 11208 11104 11426
 10031 11420 10301 11360 11411 10454 10473 10462 11422 11417 10034 10474
 10018 10303 10069 10040 11435 11363 11004 10471 10033 10035    83 10472
 10005 10469 11433 10037 10004 11697 10007 10475 11379 10039 11423 11428
 11040 11378 10030 10302 10455 10451 10020 11001 11005 11436 11419 10111
 10281 11239 10464 10282 10006]

#################### zip_city ####################
['Forest Hills' 'Whitestone' 'Brooklyn' 'New York' 'Staten Island'
 'Astoria' 'Elmhurst' 'Kew Gardens' 'Ridgewood' 'Bronx' 'Fresh Meadows'
 'East Elmhurst' 'Jackson Heights' 'Flushing' 'Rego Park' 'Far Rockaway'
 'Corona' 'Springfield Gardens' 'Queens Village' 'Woodhaven'
 'Rockaway Park' 'Long Island City' 'Saint Albans' 'Bayside'
 'Oakland Gardens' 'Jamaica' 'College Point' 'Little Neck' 'Howard Beach'
 'Arverne' 'Richmond Hill' 'Woodside' 'Ozone Park' 'Sunnyside' 'Bellerose'
 'South Ozone Park' 'Cambria Heights' 'Rosedale' 'Glen Oaks'
 'Central Park' 'Breezy Point' 'Middle Village' 'Hollis' 'New Hyde Park'
 'Maspeth' 'Floral Park' 'South Richmond Hill']

#################### cb_num ####################
[406 407 301 306 107 104 502 313 401 503 302 316 311 314 404 307 108 409
 312 103 405 206 315 106 102 205 105 109 403 207 310 317 414 304 413 308
 212 408 411 318 208 101 110 402 412 204 211 410 305 203 303 209 501 210
 309 201 112 111 202]

#################### borocode ####################
[4 3 1 5 2]

#################### boroname ####################
['Queens' 'Brooklyn' 'Manhattan' 'Staten Island' 'Bronx']

#################### cncldist ####################
[29 19 34 39  3 50 47 22 51 35 41 40 21 38  4  6 44  1 17 48 20 15  2  7
 25 11 14 43 45 31 37 27  5 30 32 24 46 33  9 26 23  8 13 36 16 18 12 42
 10 49 28]

#################### st_assem ####################
[28 27 50 53 44 67 75 64 45 36 62 55 47 42 35 57 73 52 48 65 37 86 74 66
 63 41 25 78 69 39 80 77 46 26 58 70 40 23 31 33 49 81 76 38 59 51 34 29
 24 54 84 56 43 79 87 83 82 30 72 71 68 61 60 85 32]

#################### st_senate ####################
[16 11 18 21 27 23 13 24 25 20 28 29 22 14 26 12 33 17 31 30 36 15 10 34
 32 19]

#################### nta ####################
['QN17' 'QN49' 'BK90' 'BK37' 'MN14' 'MN15' 'SI14' 'BK26' 'QN72' 'SI54'
 'BK69' 'BK81' 'BK29' 'BK42' 'QN25' 'BK68' 'MN40' 'MN12' 'SI25' 'QN60'
 'BK46' 'MN27' 'QN20' 'BX17' 'SI36' 'SI45' 'BK17' 'MN50' 'MN24' 'SI24'
 'BK44' 'QN62' 'SI01' 'BX06' 'BX41' 'SI48' 'MN20' 'MN23' 'BK33' 'MN09'
 'QN28' 'BX43' 'BX36' 'BK19' 'BK31' 'BK43' 'QN51' 'BK96' 'QN22' 'QN15'
 'BK77' 'QN12' 'BX40' 'QN03' 'QN18' 'QN34' 'BK64' 'BK28' 'BK95' 'BX62'
 'QN27' 'MN31' 'QN70' 'MN21' 'QN53' 'QN10' 'BK41' 'QN41' 'QN48' 'BK76'
 'SI05' 'BX28' 'BK58' 'BK25' 'MN17' 'QN19' 'MN25' 'MN11' 'QN31' 'BK88'
 'QN08' 'QN66' 'QN46' 'QN42' 'QN06' 'QN23' 'BX01' 'MN19' 'BX26' 'QN45'
 'BK61' 'BK73' 'BX49' 'QN71' 'QN57' 'BK82' 'BK78' 'BK79' 'BK60' 'MN28'
 'MN13' 'BK34' 'BK75' 'BX08' 'QN54' 'SI07' 'BX52' 'BK45' 'MN32' 'BX03'
 'QN50' 'BK35' 'BX30' 'BX37' 'BX34' 'BK85' 'BK27' 'BK21' 'SI32' 'MN22'
 'BK83' 'BK50' 'BK32' 'MN36' 'SI11' 'QN37' 'BX10' 'BK72' 'MN33' 'QN63'
 'SI35' 'QN43' 'BX75' 'BK30' 'QN29' 'SI12' 'QN44' 'BK63' 'MN04' 'QN55'
 'MN06' 'QN47' 'BX33' 'QN33' 'SI37' 'BK91' 'BK23' 'BX39' 'BX09' 'BK38'
 'BX63' 'BX05' 'QN05' 'BX29' 'QN56' 'MN01' 'BX27' 'SI22' 'QN35' 'QN68'
 'BK40' 'BX44' 'MN35' 'QN52' 'QN38' 'BX14' 'BX22' 'BK09' 'SI28' 'SI08'
 'MN34' 'QN26' 'BX35' 'BX55' 'BX31' 'QN61' 'BX46' 'MN03' 'BX13' 'QN21'
 'QN07' 'QN76' 'QN30' 'QN01' 'BX59' 'QN02' 'BK93' 'BX07']

#################### nta_name ####################
['Forest Hills' 'Whitestone' 'East Williamsburg' 'Park Slope-Gowanus'
 'Lincoln Square' 'Clinton' 'Grasmere-Arrochar-Ft. Wadsworth' 'Gravesend'
 'Steinway' 'Great Kills' 'Clinton Hill' 'Brownsville' 'Bensonhurst East'
 'Flatbush' 'Corona' 'Fort Greene' 'Upper East Side-Carnegie Hill'
 'Upper West Side' 'Oakwood-Oakwood Beach' 'Kew Gardens'
 'Ocean Parkway South' 'Chinatown' 'Ridgewood' 'East Tremont'
 'Old Town-Dongan Hills-South Beach' 'New Dorp-Midland Beach'
 'Sheepshead Bay-Gerritsen Beach-Manhattan Beach'
 'Stuyvesant Town-Cooper Village' 'SoHo-TriBeCa-Civic Center-Little Italy'
 'Todt Hill-Emerson Hill-Heartland Village-Lighthous' 'Madison'
 'Queensboro Hill' "Annadale-Huguenot-Prince's Bay-Eltingville" 'Belmont'
 'Mount Hope' 'Arden Heights' 'Murray Hill-Kips Bay' 'West Village'
 'Carroll Gardens-Columbia Street-Red Hook' 'Morningside Heights'
 'Jackson Heights' 'Norwood' 'University Heights-Morris Heights'
 'Brighton Beach' 'Bay Ridge' 'Midwood' 'Murray Hill'
 'Rugby-Remsen Village' 'Flushing' 'Far Rockaway-Bayswater'
 'Bushwick North' 'Hammels-Arverne-Edgemere' 'Fordham South'
 'Springfield Gardens South-Brookville' 'Rego Park' 'Queens Village'
 'Prospect Heights' 'Bensonhurst West' 'Erasmus' 'Woodlawn-Wakefield'
 'East Elmhurst' 'Lenox Hill-Roosevelt Island' 'Astoria' 'Gramercy'
 'Woodhaven' 'Breezy Point-Belle Harbor-Rockaway Park-Broad Chan'
 'Kensington-Ocean Parkway' 'Fresh Meadows-Utopia' 'Auburndale'
 'Greenpoint' 'New Springville-Bloomfield-Travis' 'Van Cortlandt Village'
 'Flatlands' 'Homecrest' 'Midtown-Midtown South' 'Glendale'
 'Battery Park City-Lower Manhattan' 'Central Harlem South'
 'Hunters Point-Sunnyside-West Maspeth' 'Borough Park' 'St. Albans'
 'Laurelton' 'Bayside-Bayside Hills' 'Oakland Gardens'
 'Jamaica Estates-Holliswood' 'College Point' 'Claremont-Bathgate'
 'Turtle Bay-East Midtown' 'Highbridge'
 'Douglas Manor-Douglaston-Little Neck' 'Crown Heights North'
 'North Side-South Side' 'Pelham Parkway' 'Old Astoria'
 'Lindenwood-Howard Beach' 'East New York' 'Bushwick South' 'Ocean Hill'
 'Prospect Lefferts Gardens-Wingate' 'Lower East Side'
 'Hudson Yards-Chelsea-Flatiron-Union Square' 'Sunset Park East' 'Bedford'
 'West Farms-Bronx River' 'Richmond Hill' 'Westerleigh'
 'Schuylerville-Throgs Neck-Edgewater Park'
 'Georgetown-Marine Park-Bergen Beach-Mill Basin' 'Yorkville'
 'Eastchester-Edenwald-Baychester' 'Elmhurst-Maspeth' 'Stuyvesant Heights'
 'Kingsbridge Heights' 'Van Nest-Morris Park-Westchester Square'
 'Melrose South-Mott Haven North' 'East New York (Pennsylvania Ave)'
 'Bath Beach' 'Seagate-Coney Island' 'Rossville-Woodrow' 'East Village'
 'Cypress Hills-City Line' 'Canarsie' 'Sunset Park West'
 'Washington Heights South' 'Charleston-Richmond Valley-Tottenville'
 'Kew Gardens Hills' 'Pelham Bay-Country Club-City Island' 'Williamsburg'
 'East Harlem South' 'Woodside' 'New Brighton-Silver Lake' 'Bellerose'
 'Crotona Park East' 'Dyker Heights' 'Elmhurst'
 "Mariner's Harbor-Arlington-Port Ivory-Graniteville"
 'Glen Oaks-Floral Park-New Hyde Park' 'Crown Heights South'
 'Hamilton Heights' 'South Ozone Park' 'Manhattanville'
 'Ft. Totten-Bay Terrace-Clearview' 'Longwood' 'Cambria Heights'
 'Stapleton-Rosebank' 'East Flatbush-Farragut' 'West Brighton'
 'Mott Haven-Port Morris'
 'Soundview-Castle Hill-Clason Point-Harding Park'
 'DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill' 'West Concourse'
 'Bedford Park-Fordham North' 'Rosedale' 'Spuyten Duyvil-Kingsbridge'
 'Ozone Park' 'Marble Hill-Inwood' 'Hunts Point'
 'West New Brighton-New Brighton-St. George' 'Briarwood-Jamaica Hills'
 'Queensbridge-Ravenswood-Long Island City' 'Windsor Terrace'
 'Williamsbridge-Olinville' 'Washington Heights North' 'East Flushing'
 'Pomonok-Flushing Heights-Hillcrest' 'East Concourse-Concourse Village'
 'North Riverdale-Fieldston-Riverdale' 'Brooklyn Heights-Cobble Hill'
 'Port Richmond' 'Grymes Hill-Clifton-Fox Hills' 'East Harlem North'
 'North Corona' 'Morrisania-Melrose' 'Soundview-Bruckner'
 'Allerton-Pelham Gardens' 'Jamaica' 'Parkchester'
 'Central Harlem North-Polo Grounds' 'Co-op City' 'Middle Village'
 'Hollis' 'Baisley Park' 'Maspeth' 'South Jamaica' 'Westchester-Unionport'
 'Springfield Gardens North' 'Starrett City' 'Bronxdale']

#################### state ####################
['New York']

In [11]:
print("8. Statistical info of each original feature:")
df.describe(include='all').T

8. Statistical info of each original feature:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
created_at,100000,146,09/23/2015,3916,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tree_id,100000.0,NaN,NaN,NaN,233739.45083,42482.723266,7.0,208734.75,235822.5,264692.25,318496.0
block_id,100000.0,NaN,NaN,NaN,289398.95714,122324.350099,100002.0,212550.0,305825.0,347898.5,516315.0
the_geom,100000,99962,POINT (-73.95680061508556 40.61596593024687),17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tree_dbh,100000.0,NaN,NaN,NaN,11.26171,8.544646,0.0,5.0,10.0,16.0,425.0
stump_diam,100000.0,NaN,NaN,NaN,0.47271,3.457305,0.0,0.0,0.0,0.0,140.0
curb_loc,100000,2,OnCurb,96129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,100000,3,Alive,95008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
health,95007,3,Good,72340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spc_latin,95008,125,Platanus x acerifolia,11976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spc_common,95008,125,London planetree,11976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
steward,95008,4,None,65996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
guards,95008,4,None,78958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sidewalk,95008,2,NoDamage,65686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user_type,100000,3,Volunteer,45924,NaN,NaN,NaN,NaN,NaN,NaN,NaN
problems,95008,151,None,55672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_stone,100000,2,No,75740,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_grate,100000,2,No,99043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
root_other,100000,2,No,93909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trnk_wire,100000,2,No,97838,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trnk_light,100000,2,No,99794,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trnk_other,100000,2,No,94332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brnch_ligh,100000,2,No,90049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brnch_shoe,100000,2,No,99935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brnch_othe,100000,2,No,94751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,100000,66793,28-055 ULMER STREET,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,100000.0,NaN,NaN,NaN,10824.77388,835.683247,83.0,10309.0,11208.0,11356.0,11697.0
zip_city,100000,47,Brooklyn,26795,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cb_num,100000.0,NaN,NaN,NaN,316.04452,125.875538,101.0,210.0,314.0,411.0,503.0
borocode,100000.0,NaN,NaN,NaN,3.08383,1.264942,1.0,2.0,3.0,4.0,5.0
boroname,100000,5,Queens,32562,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cncldist,100000.0,NaN,NaN,NaN,27.33749,15.184746,1.0,14.0,26.0,40.0,51.0
st_assem,100000.0,NaN,NaN,NaN,52.32363,18.440296,23.0,35.0,52.0,67.0,87.0
st_senate,100000.0,NaN,NaN,NaN,21.39521,7.4755,10.0,14.0,22.0,27.0,36.0
nta,100000,188,QN43,3149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nta_name,100000,188,Bellerose,3149,NaN,NaN,NaN,NaN,NaN,NaN,NaN
boro_ct,100000.0,NaN,NaN,NaN,3128151.62032,1278944.193038,1000201.0,2028800.0,3059300.0,4080301.0,5031902.0
state,100000,1,New York,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,100000.0,NaN,NaN,NaN,40.711146,0.08948,40.498466,40.63796,40.723607,40.770754,40.912807
longitude,100000.0,NaN,NaN,NaN,-73.927091,0.115706,-74.254385,-73.977336,-73.938527,-73.849516,-73.700488
x_sp,100000.0,NaN,NaN,NaN,1004439.988645,32093.177819,913509.472506,990535.318946,1001277.60996,1025894.930722,1067247.62369
y_sp,100000.0,NaN,NaN,NaN,198395.834131,32599.847353,120973.792223,171705.706261,202947.289857,220095.06273,271853.443547

In [12]:
print("9. Duplicates in the dataset? ")
df.duplicated().any()

9. Duplicates in the dataset?

False

### Explore deeper missing values

health        4993
spc_latin     4992
spc_common    4992
steward       4992
guards        4992
sidewalk      4992
user_type        0
problems      4992

In [34]:
print("Original features with missing values:")
cols_with_nan = df.loc[:, df.isnull().sum() > 0].columns
cols_with_nan

Original features with missing values:

Index(['health', 'spc_latin', 'spc_common', 'steward', 'guards', 'sidewalk',
       'problems'],
      dtype='object')

In [51]:
# Add status to the list of features with missing values
cols_with_nan_and_status = cols_with_nan.values.tolist()
cols_with_nan_and_status.append("status")
cols_with_nan_and_status

['health',
 'spc_latin',
 'spc_common',
 'steward',
 'guards',
 'sidewalk',
 'problems',
 'status']

In [63]:
# Count number of values in each feature with nan per status 
df[cols_with_nan_and_status].groupby(["status"]).count()

        health  spc_latin  spc_common  steward  guards  sidewalk  problems
status
Alive    95007      95008       95008    95008   95008     95008     95008
Dead         0          0           0        0       0         0         0
Stump        0          0           0        0       0         0         0

In [61]:
# See example where `health` is null and status different than "Dead" or "Stump"
df.loc[(df["health"].isnull()) & (~df["status"].isin(["Dead", "Stump"]))].T

                                                   32794
created_at                                    09/21/2015
tree_id                                           245041
block_id                                          413012
the_geom    POINT (-74.21641202587655 40.54859739520807)
tree_dbh                                              16
stump_diam                                             0
curb_loc                                          OnCurb
status                                             Alive
health                                               NaN
spc_latin                         Fraxinus pennsylvanica
spc_common                                     green ash
steward                                             None
guards                                              None
sidewalk                                          Damage
user_type                               TreesCount Staff
problems                                            None
root_stone                                            No
root_grate                                            No
root_other                                            No
trnk_wire                                             No
trnk_light                                            No
trnk_other                                            No
brnch_ligh                                            No
brnch_shoe                                            No
brnch_othe                                            No
address                                84 LUCILLE AVENUE
zipcode                                            10309
zip_city                                   Staten Island
cb_num                                               503
borocode                                               5
boroname                                   Staten Island
cncldist                                              51
st_assem                                              62
st_senate                                             24
nta                                                 SI32
nta_name                               Rossville-Woodrow
boro_ct                                          5020801
state                                           New York
latitude                                       40.548597
longitude                                     -74.216412
x_sp                                       924106.880773
y_sp                                       139219.632044

In [78]:
# Count how many trees per `status`
df["status"].value_counts()

Alive    95008
Stump     2831
Dead      2161
Name: status, dtype: int64

In [79]:
# Count number of values per `status` and `health`
df[["status", "health"]].value_counts()

status  health
Alive   Good      72340
        Fair      17266
        Poor       5401
dtype: int64

### Observation notes
#### Missing values
* When `status` = "Dead" or "Stump":
    - 'health', 'spc_latin', 'spc_common', 'steward', 'guards', 'sidewalk',
       'problems' are empty.
    - Potential issue: if we look at trees that are alive, a lot of them are considered healthy ("Good") and a few "Poor". Maybe due to when the trees are "Dead" or "Stump", no perception of health is given.
    
    => Question: for feature `health`, should we fill in "poor" when `status` is "Dead" or "Stump"? No, that could distort the information about `health` user's perception.

    => Decision: 
        - for feature `health`, we are going to fill in "Dead" or "Stump" when `status` is "Dead" or "Stump" as this is a factual and correct health description.
        - for the other features with missing values: we are going to populated them with the text "NA".


* 1 particular case:
    - There is one entry (=row) where `health` is null and `status` different than "Dead" or "Stump".

    => Decision: drop this particular case. This won't have a big impact statistically.
    

### Data types
* `created_at` is object (= string)

    => Decision: Convert it into a *datetime64* feature

## 4. Clean Dataset

### Fix missing values

In [85]:
# Fill in `health` with `status` when `status` is "Dead" or "Stump" and `health` is null
condition = (df["status"].isin(["Dead", "Stump"]) & df["health"].isnull())
df["health"][(condition)] = df["status"][(condition)]

In [88]:
# Check if `health` is correctly mapped with `status` "Dead" or "Stump"
df[["health", "status"]][df["status"].isin(["Dead", "Stump"])].head()

    health status
630   Dead   Dead
631  Stump  Stump
634  Stump  Stump
635   Dead   Dead
636  Stump  Stump

In [100]:
# Original features with missing values
cols_with_nan = df.loc[:, df.isnull().sum() > 0].columns
for column in cols_with_nan:
    df[column][df[column].isnull()] = "NA"

In [102]:
# Check if original features with missing values have been correctly populated
df[cols_with_nan][df["status"].isin(["Dead", "Stump"])].head()

    spc_latin spc_common steward guards sidewalk problems
630        NA         NA      NA     NA       NA       NA
631        NA         NA      NA     NA       NA       NA
634        NA         NA      NA     NA       NA       NA
635        NA         NA      NA     NA       NA       NA
636        NA         NA      NA     NA       NA       NA

In [101]:
# Check if there are any mising values
df.isnull().sum()

created_at    0
the_geom      0
tree_dbh      0
stump_diam    0
curb_loc      0
status        0
health        0
spc_latin     0
spc_common    0
steward       0
guards        0
sidewalk      0
user_type     0
problems      0
root_stone    0
root_grate    0
root_other    0
trnk_wire     0
trnk_light    0
trnk_other    0
brnch_ligh    0
brnch_shoe    0
brnch_othe    0
address       0
zipcode       0
zip_city      0
cb_num        0
borocode      0
boroname      0
cncldist      0
st_assem      0
st_senate     0
nta           0
nta_name      0
boro_ct       0
state         0
latitude      0
longitude     0
x_sp          0
y_sp          0
dtype: int64

### Fix data types

In [82]:
# Convert `created_at` into a datetime64 feature
df["created_at"] = pd.to_datetime(df["created_at"])

In [83]:
# Check if `created_at` is correctly converted into a datetime64 feature
df["created_at"].head()

0   2015-08-27
1   2015-09-03
2   2015-09-05
3   2015-09-05
4   2015-08-30
Name: created_at, dtype: datetime64[ns]

### Feature selection

In [84]:
# Drop the `tree_id` and `block_id` features as they won't be useful for predicting the outcome.
df.drop(["tree_id", "block_id"], axis=1, inplace=True)

In [97]:
# Drop the particular case where `health` is null and status different than "Dead" or "Stump"
alive_no_status_idx = df.loc[(df["health"].isnull()) & (~df["status"].isin(["Dead", "Stump"]))].index
alive_no_status_idx
df.drop(alive_no_status_idx, axis=0, inplace=True)

In [104]:
# Quick and dirty version
# we'll only select the most important features where there is no missing value.
no_nan_cols = df.loc[:, df.isnull().sum() == 0].columns
df_good_enough = df[no_nan_cols]

In [105]:
# Export the dataframe into data_clean_GOOD_ENOUGH file
df_good_enough.to_csv(r'assets/data_clean_GOOD_ENOUGH.csv', index = False)